@import "../../main.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.works {
  // background-color: rgb(9, 241, 222);
  // background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);                //TODO
  display: flex ;
  align-items: center;
  position: relative;
  height: 100vh !important;
  // justify-content: center;
  // scrollbar-width: none; //for firefox                                                  //TODO
  // &::-webkit-scrollbar{
  //     display: none ;
  // }
  
  @include mobile {
    display: flex ;
    align-items: center;
    flex-direction: column;
    
  }


  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    color: rgb(255, 254, 254);

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      // transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }
  .texpr {
    font-size: 40px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
    text-transform: capitalize;
    // position: absolute;
    
  
    @include mobile{
      font-size: 20px;

    }
  }

    

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      // width: 70%;
        // height: 150px;
        // margin: 15px 0;
        // padding-right: 20px !important;
        // padding-left: 20px !important;
        margin-top: 10%;
        margin-bottom: 10%;
        overflow-x: hidden;
          // overflow-y: visible;
          // scroll-behavior: smooth;
          // scroll-snap-type: y ;
      
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile {
        width: 80% ;
        height: 400px;
        margin: 5px ;
        //padding-right: 20px ;
        //padding-left: 20px ;

       // border-radius: 20px;
        overflow-x: hidden;
          // overflow-y: auto;
          // scroll-behavior: smooth;
          // scroll-snap-type: y mandatory;
      }

      .item {
        width: 700px;
        height: 100%;
        background-color: rgb(0, 255, 242);
        border-radius: 20px;                                                  //TODO
        display: flex;
        box-shadow: 0 0 20px rgb(0, 255, 242);                       //TODO
       // background-color: rgb(247, 247, 248);                                    //TODO
        align-items: center;
      
        justify-content: center;
        @include mobile {
          position: relative;
          box-shadow: none;
        }
        .left {
          flex: 4;
          height: 85%;
          display: flex;
          align-items: center;
          justify-content: center;
            @include mobile {
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                // height: 100%;
                // width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-image: linear-gradient(to right top, #ea118c, #eb1492, #eb1899, #eb1c9f, #eb20a6, #db4cca, #c36ae8, #a483ff, #42adff, #00ceff, #00e7ff, #5ffbf1);
          }
          .leftContainer {
            width: 90%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile {                                                         //TODO
              color: rgb(212, 9, 9);
              font-size: 15px;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: center;
              margin-left: auto;
              margin-right: auto;
              width: 200px;
        }


            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                // width: 20px;
                // height: 20px;
                display: none;
              }

              .projImg {
                width: 25px;

                @include mobile {
                  width: 15px;
                }
              }
            }
            h2 {
              font-size: 20px;
              scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
              @include mobile{
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;
              font-weight: 500;
              scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
              @include mobile{
                display: none;
              }
            }
            .linkz {
              font-size: 16px;
              font-weight: 400;
              padding: 2px;
              margin-top: 3px;
              text-decoration: none !important;
              cursor: pointer;
              color: rgb(244, 244, 248) !important;
              background-color: rgb(3, 3, 58);
              border-radius: 10px;
              //flex: 1;
              scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }

              @include mobile {                                     //TODO
                font-weight: 600;
                font-size: 12px;
                //padding: 2px 5px !important;
                background-color:transparent !important;
                border-radius: 0px !important;
                color: black !important;
                scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
              }
            }
            .linkz:hover {
              border: 2px solid rgb(0, 1, 44);
              
              @include mobile {
                //text-align: center;
              //width: 200px;
              //margin-left: auto;
              //margin-right: auto;
              }
              //box-shadow: 0 0 10px 5px rgb(120, 248, 242)
            }
            .iconZ{
              //display: inline-flex;
              font-size: 20px;
              margin-left: 5%;
              //padding-top: 1px;
              @include mobile {                                     //TODO
                font-size: 12px;
                padding: 1px;
                //color: black !important;
              }
              //padding-left: 10px;
              //justify-content:flex-end;
              // align-items: flex-end;
              // justify-items: flex-end;
              // justify-content: flex-end;
              // align-content: flex-start-end;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          
          @include mobile {                                     //TODO
            flex: 12;
            height: 100%;
            display: flex;
              
          }

          .projImg {
            width: 400px;
            // transform: rotate(-10deg);

            @include mobile {                                     //TODO
              width: 200px;
              height: 200px !important;
              display: block !important;
              object-fit: contain;
              // padding-right: 70%;
              transform: rotate(0deg)
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
 .item{
  width: 500px !important;
  height: 250px;
 }
 .texpr{
   margin-bottom: 50% !important;
 }
 .linkz{
   font-size: 15px !important;
 }
 .iconZ{
   font-size: 12px !important;
 }
}
@media screen and  (max-width: 900px){
  // .item{
  //  // transition :all .2s ease-in-out;
  //   //width: 350px !important;
    
  // }
  .item:hover .left {
        opacity: 1 !important; 
        box-shadow: 0 0 10px 5px rgb(120, 248, 242)
       }
  #works.works{
    scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
  // //   scroll-behavior: smooth;
  // //   scroll-snap-type: y ;
      height: 120% !important;
  }     
}
@media only screen and (min-width: 750px) and (max-width: 768px) {
  #works.works{
    height: 130% !important;
  }
  .container{
     
    align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

@media only screen and (min-width: 568px) and (max-width: 750px) {
  #works.works{
    height: 130% !important;
  }
  .container{
    align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
    // padding-right: 20px !important;
    // padding-left: 20px !important;
    //margin-left: 15% !important;
   // margin-right: 5% !important;
  }
  .item{
    width: 600px !important;
  }
}
// @media only screen and (min-width: 360px) and (max-width: 568px) {
//   .container{
//     // height: 120% !important;
//     align-items: center !important;
//       justify-content: center !important;
//     padding-left: 50px !important;
//     padding-right: 30px !important;
//     //margin-left: 15% !important;
//     //margin-right: 5% !important;
    
//   }
// // //   .item{
// // //    // height:120% !important;
// // //     //width: 400px !important;
// // //   // border-radius: 16px !important;
// //   }
//  }
                //Height
@media only screen  and (max-height: 680px) {
  #works.works{
    // scrollbar-width: none; //for firefox                                                  //TODO
    //           &::-webkit-scrollbar{
    //               display: none ;
    //           }
    height: 110vh !important;
}
}
@media only screen  and (max-width: 568px) { 
  // .slider{
  //   justify-content: center;
  // }
  .container{
    // height: 120% !important;
      align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
    // padding-left: 10px !important;
    // padding-right: 10px !important;
    //margin-left: 15% !important;
    //margin-right: 5% !important;
    
  }
  .item{
   // height:120% !important;
    width: 330px !important;
  // border-radius: 16px !important;
  }
  .projImg{
    padding-right: 2% !important;
    padding-left: 8% !important;
    // width: 150px ;
  }
//   .right{
//     width: 200px !important;
//   }
}                       //TODO


