@import "../../main.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.works {
  // background-color: rgb(9, 241, 222);
  // background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);                //TODO
  display: flex ;
  align-items: center;
  position: relative;
  height: 110vh !important;
  // justify-content: center;
  // scrollbar-width: none; //for firefox                                                  //TODO
  // &::-webkit-scrollbar{
  //     display: none ;
  //flex-direction: row;
  // }
  
  @include mobile {
    display: flex ;
    align-items: center;
    flex-direction: column;
    
  }


  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    color: rgb(255, 254, 254);

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      // transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }
  .texpr {
    font-size: 40px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    //margin-bottom: 40%;
    text-transform: capitalize;
    // position: absolute;
    //TODO
    margin-bottom: 40%;
  
    @include mobile{
      margin-bottom: 5%;
      font-size: 20px;

    }
  }

    

  .slider {
    height: 500px;                                                                  //TODO350px
     //display: flex;
     position: absolute;
    //left: 0;
    //transition: all 1s ease-out;
    //flex-direction: row;
    //width: 700px;
    //margin-left: 5%;
    //TODO
    //margin-bottom: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    //display: grid;
   // position: absolute;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      // width: 70%;
        // height: 150px;
        // margin: 15px 0;
        // padding-right: 20px !important;
        // padding-left: 20px !important;
        margin-top: 10%;
        margin-bottom: 10%;
        overflow-x: hidden;
          // overflow-y: visible;
          // scroll-behavior: smooth;
          // scroll-snap-type: y ;
      
    }

    .container {
      //width: 100vw;
      //display: flex;
      align-items: center;
      justify-content: center;
      //TODO
      width: 100%;
      display: grid;
      //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-items: center;
      margin: 20px 0;
      scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
    
   // margin-bottom: 10%;
      @include mobile {
        width: 80% ;
        //height: 400px;
        margin: 5px ;
        //padding-right: 20px ;
        //padding-left: 20px ;

       // border-radius: 20px;
        overflow-x: hidden;
          // overflow-y: auto;
          // scroll-behavior: smooth;
          // scroll-snap-type: y mandatory;
      }

      .item {
        position: relative;
        //background-color: rgb(0, 255, 242);
        background-image: linear-gradient(to right bottom, #05eaff, #00bae0, #008cbc, #006192, #003866, #003a67, #003b69, #003d6a, #006997, #0098bd, #00c9db, #5ffbf1);
        border-radius: 20px;                                                  //TODO
        //display: flex;
        //box-shadow: 0 0 20px rgb(0, 255, 242);                       //TODO
       // background-color: rgb(247, 247, 248);                                    //TODO
        align-items: center;
        //flex-direction: row;                                                          //TODO
        justify-content: center;
        //TODO
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
        justify-items: center;
        margin: 20px 0;
        scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
        @include mobile {
          position: relative;
          box-shadow: none;
        }
        .left {
           flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          //TODO
          //height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          // height: 100%;
          // width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-image: linear-gradient(to right top, #ea118c, #eb1492, #eb1899, #eb1c9f, #eb20a6, #db4cca, #c36ae8, #a483ff, #42adff, #00ceff, #00e7ff, #5ffbf1);
            @include mobile {
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                // height: 100%;
                // width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-image: linear-gradient(to right top, #ea118c, #eb1492, #eb1899, #eb1c9f, #eb20a6, #db4cca, #c36ae8, #a483ff, #42adff, #00ceff, #00e7ff, #5ffbf1);
          }
          .leftContainer {
            width: 90%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //TODO
            color: rgb(0, 1, 41);
              font-size: 15px !important;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: center;
              margin-left: auto;
              margin-right: auto;
              //width: 200px;
            @include mobile {                                                         //TODO
              color: rgb(212, 9, 9);
              font-size: 15px;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: center;
              margin-left: auto;
              margin-right: auto;
              width: 200px;
        }


            .imgContainer {
              
              display: none;

              @include mobile {
                // width: 20px;
                // height: 20px;
                display: none;
              }

              .projImg {
                width: 25px;

                @include mobile {
                  width: 15px;
                }
              }
            }
            h2 {
              font-size: 20px;
              scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
              @include mobile{
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;
              font-weight: 500;
              scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
              @include mobile{
                display: none;
              }
            }
            .linkz {
              font-size: 16px;
              font-weight: 400;
              padding: 2px;
              margin-top: 3px;
              text-decoration: none !important;
              cursor: pointer;
              color: rgb(244, 244, 248) !important;
              background-color: rgb(3, 3, 58);
              border-radius: 10px;
              //flex: 1;
              scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }

              @include mobile {                                     //TODO
                font-weight: 600;
                font-size: 12px;
                //padding: 2px 5px !important;
                background-color:transparent !important;
                border-radius: 0px !important;
                color: black !important;
                scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
              }
            }
            .linkz:hover {
              border: 2px solid rgb(0, 1, 44);
              
              @include mobile {
                //text-align: center;
              //width: 200px;
              //margin-left: auto;
              //margin-right: auto;
              }
              //box-shadow: 0 0 10px 5px rgb(120, 248, 242)
            }
            .iconZ{
              //display: inline-flex;
              font-size: 20px;
              margin-left: 5%;
              //padding-top: 1px;
              @include mobile {                                     //TODO
                font-size: 12px;
                padding: 1px;
                //color: black !important;
              }
              
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          
          @include mobile {                                     //TODO
            flex: 12;
            height: 100%;
            display: flex;
              
          }

          .projImg {
            width: 400px;
            // transform: rotate(-10deg);

            @include mobile {                                     //TODO
              width: 200px;
              height: 200px !important;
              display: block !important;
              object-fit: contain;
              // padding-right: 70%;
              transform: rotate(0deg)
            }
          }
        }
      }
      .item:hover .left {
        opacity: 1 !important; 
        
       }
      .item:hover{
        box-shadow:  0 0 10px 5px rgb(120, 248, 242) !important;
        //box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
       }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1500px) {
  #works.works{
    scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
    }
  .slider{
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      //margin: auto;
    }
  .texpr{
    margin-bottom: 55% !important;
  }
  .item{
    width: 280px !important;
  }
}
@media only screen and (min-width: 890px) and (max-width: 992px) {
  .texpr{
    margin-bottom: 75% !important;    //80%
  }
}
@media only screen and (min-width: 768px) and (max-width: 890px) {
  .texpr{
    margin-bottom: 80% !important;    //90%
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  
  
  .item{
   width: 280px !important;
   height: 200px !important;
   margin: 5px 0 !important;
  }
  
  .slider{
    margin-top: 10%;
    height: 92vh !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  
 .item{
  width: 280px !important;
  //height: 280px !important;
  margin: 5px 0 !important;
 }
 .container{
     margin: 5px 0 !important;
   }
 
 .linkz{
   font-size: 15px !important;
 }
 .iconZ{
   font-size: 12px !important;
 }
}
@media screen and  (max-width: 992px){
  
  .item:hover .left {
        opacity: 1 !important; 
        box-shadow: 0 0 10px 5px rgb(120, 248, 242)
       }
  #works.works{
    scrollbar-width: none; //for firefox                                                  //TODO
              &::-webkit-scrollbar{
                  display: none ;
              }
  // //   scroll-behavior: smooth;
  // //   scroll-snap-type: y ;
      height: 120% !important;
  }     
}
@media only screen and (min-width: 750px) and (max-width: 768px) {
  .item{
    width: 280px !important;
    height: 280px !important;
    margin: 5px 0 !important;
   }
   .container{
    margin: 5px 0 !important;
  }
  .slider{
    height: 180vh !important;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)) !important;
  }
  #works.works{
    height: 200% !important;
  }
  .container{
     
    align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

@media only screen and (min-width: 568px) and (max-width: 750px) {

  .item{
    margin: 5px 0 !important;
   }
   .container{
    margin: 5px 0 !important;
  }
  .slider{
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr)) !important;
  }
  #works.works{
    height: 120% !important;
  }

  // #works.works{
  //   height: 100% !important;
  // }
  .container{
    align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;

  }
  // .item{
  //   width: 600px !important;
  // }
}

                //Height
@media only screen  and (max-height: 680px) {
  #works.works{
    // scrollbar-width: none; //for firefox                                                  //TODO
    //           &::-webkit-scrollbar{
    //               display: none ;
    //           }
    height: 120vh !important;
}
}
@media only screen  and (max-width: 568px) { 
  // .slider{
  //   justify-content: center;
  // }
  .container{
    // height: 120% !important;
      align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
    // padding-left: 10px !important;
    // padding-right: 10px !important;
    //margin-left: 15% !important;
    //margin-right: 5% !important;
    
  }
  .item{
   // height:120% !important;
    width: 250px !important;
  // border-radius: 16px !important;
  }
  .projImg{
    padding-right: 2% !important;
    padding-left: 8% !important;
    // width: 150px ;
  }
//   .right{
//     width: 200px !important;
//   }
}                       //TODO


