@import "../../main.scss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.contact {

  display: flex;


  // @include mobile {

  //   flex-direction: column;
  // }
  .contact__icons > a > button > span > .MuiSvgIcon-root {

    color: rgb(8, 243, 47);
    font-size: 30px;
  }
  .contact__icons{
    scrollbar-width: none; //for firefox                                                  //TODO
    &::-webkit-scrollbar{
        display: none ;
    }
  }

  .contact__icons > a > .MuiIconButton-root {
    color: rgb(8, 243, 125) !important;
  }
  .leftC {
    flex: 1;
    overflow: hidden;
    // @include mobile {
    //   flex:0.5;
    // }
    .txtxa{
      font-size: 130px;
      font-family: 'Great Vibes', cursive;
      text-align: center;
      margin-top: 30%;
      color: azure;
      @include mobile {
        margin-top: 15%;
        font-size: 70px;
      }
    }

  }
  .rightC {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scrollbar-width: none; //for firefox                                                  //TODO
          &::-webkit-scrollbar{
              display: none ;
          }
    // @include mobile {
    //  margin-top: 2%;

    // }

    h2 {
      font-size: 30px;
      color: azure;
      scrollbar-width: none; //for firefox                                                  //TODO
          &::-webkit-scrollbar{
              display: none ;
          }
    }
    .contactpageZ{
      max-width: 500px;
      border: 2px solid rgb(3, 165, 206);
      border-radius: 5px;
      padding: 30px;
      margin: 50px auto;
  }
    .contactpageZ form input,
.contactpageZ form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    outline: rgb(3, 165, 206);
    border: 1px solid rgb(3, 165, 206);
}
    // form {
    //   width: 50%;
    //   height: 70%;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: space-around;
    //   //todo
    //   background-color: rgb(3, 8, 63);
    // border-radius: 16px;
    // box-shadow: 2px 2px  2px 2px rgb(15, 15, 15);
    // padding: 5px;
    //   @include mobile {
    //     width: 70%;
    //     padding: 5px;
    //     justify-content: center;
    //    }

    //   input {
    //     width: 300px;
    //     height: 30px;
    //     font-size: 14px;


    //     @include mobile {
    //       scrollbar-width: none; //for firefox                                                  //TODO
    //       &::-webkit-scrollbar{
    //           display: none ;
    //       }
    //       width: 200px;
    //       height: 20px;

    //     }
    //   }

    //   textarea {
    //     width: 300px;
    //     height: 200px;
    //     font-size: 14px;

    //     @include mobile {
    //       width: 200px;
    //       height: 100px;
    //     }
    //   }

    //   button {
    //     width: 80px;
    //     height: 30px;
    //     color: rgb(4, 1, 14);
    //     background-color: rgb(0, 255, 242);
    //     border: none;
    //     border-radius: 10px;
    //     font-weight: 500;
    //     cursor: pointer;

    //     &:focus {
    //       outline: none;
    //     }
    //   }
    //   button:hover{
    //     box-shadow: 0 0 20px rgb(0, 255, 242);
    //   }

    //   span {
    //     color: rgb(9, 211, 9);
    //     scrollbar-width: none; //for firefox                                                  //TODO
    //       &::-webkit-scrollbar{
    //           display: none ;
    //       }
    //   }
    // }
  }
}
.spanza {
  color: rgb(9, 211, 9);
}
.la{
  text-align: left !important;
    color: azure;
}
@media screen and  (max-width: 600px){
  .spanza {
    scrollbar-width: none; //for firefox                                                  //TODO
          &::-webkit-scrollbar{
              display: none ;
          }
    font-size: 15px;
    padding-top: 2%;
    color: green;
  }
  .la{
    margin-bottom: 1%;
    text-align: left !important;
    color: azure;
    scrollbar-width: none; //for firefox                                                  //TODO
            &::-webkit-scrollbar{
                display: none ;
            }
  }
  .contact{
    display: flex !important;
    // align-items: center;
    // justify-content: center;
    flex-direction: column !important;
  }
  .leftC{
    flex:25% !important;
  }
  .rightC{
    flex: 75% !important;
  }
  // .form{
  //   display: flex;
  //   flex-direction: column;
  // }
  .contactpageZ{
    width :300px !important;
    padding: 15px !important;
    margin: 15px auto !important;
  }
}
